.summit-body {
  margin: 40px 0 0 48px;
  padding-right: 48px;

  width: 100%;
  overflow: auto;

  .header-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #bbb;

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      margin: 0;
    }

    .main-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      button {
        background-color: #5c00dc;
        padding: 8px 16px;
        color: white;
        border-radius: 4px;
        border: none;
        cursor: pointer;
      }

      .left-side {
        display: flex;
        flex-direction: row;
        align-items: center;

        .title-container {
          margin-left: 16px;

          h4 {
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
            margin: 0;
            margin-bottom: 8px;
          }
        }
      }
    }
    .sub-header {
      padding-top: 40px;
      padding-bottom: 40px;

      h4 {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin: 0;
        margin-bottom: 16px;
      }
    }
  }

  .main-container {
    .title {
      display: flex;
      margin-top: 24px;
      margin-bottom: 24px;
      align-items: center;
      height: 35px;
    }

    p {
      margin-left: 24px;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }
  }
}

@media (max-width: 765px) {
  .summit-body {
    margin: 5vw 0 0 15px;
    padding-right: 15px;

    .header-container {
      p {
        font-size: 2.2vw;
        line-height: normal;
      }
      .main-header {
        button {
          font-size: 2.2vw;
        }
        .left-side {
          img {
            width: 12vw;
          }
          .title-container {
            h4 {
              font-size: 4.5vw;
              line-height: normal;
            }
          }
        }
      }
      .sub-header {
        padding-top: 5.2vw;
        padding-bottom: 5.2vw;

        h4 {
          line-height: normal;
          font-size: 3.2vw;
        }
      }
    }

    .main-container {
      .title {
        height: 4.5vw;
        margin-top: 3.2vw;
        margin-bottom: 3.2vw;

        img {
          height: 4.8vw;
        }
        p {
          font-size: 2.6vw;
          margin-left: 3.1vw;
          line-height: normal;
        }
      }
    }
  }
}
