.step-container {
  margin-bottom: 24px;

  .step-title-container {
    margin-bottom: 8px;

    span {
      font-size: 14px;
      line-height: 17px;
    }

    .step-title {
      font-weight: 700;
    }
  }

  .step1-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-flow: row wrap;
    padding: 16px 24px;
    gap: 32px;
  }

  .step2-container {
    // display: grid;
    // gap: 1.5rem;
    // grid-template-columns: repeat(auto-fit, minmax(341px, 1fr));
    display: flex;
    gap: 1.5rem;
    flex-flow: row wrap;
  }

  .step3-container {
  }
}
